name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build_type: ['1']

    steps:
      - uses: actions/checkout@v4

      - name: Make script executable
        run: |
         mv ${{ matrix.build_type }}.txt repos.txt
         chmod +x build.sh

      - name: Run build
        run: bash build.sh

      - name: Generate checksum
        run: |
          for f in *.ocioz; do
            sha256sum "$f" > "$f.sha256"
          done

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ocioz-${{ matrix.build_type }}
          path: |
            *.ocioz
            *.ocioz.sha256

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: PixelManager
          name: PixelManager Rolling Release
          prerelease: true
          files: artifacts/**/*
